@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family: "Playfair Display" , serif;
}

/* ----------------------------------------------Header */


.nav-menu {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color: #B5B8C8;
    position: fixed;
    width: 100%;
}

.nav-menu li {
    margin: 10px;
    font-size: 18px;
}

/* ----------------------------------------------- Main */

main {
    padding-top: 10vh;
}

.bg-image {
    background-image: url(images/bg-image.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
  
}

.headline {
    text-align: center;
}

.headline h1 {
    font-size: 50px;
    padding-top: 30vh;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

/* ----------------------------------------------- About me */



.headline-2 {
    font-size: 40px;
    padding: 10vh;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
}

.about-me-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-info p {
    width: 50%;
    padding: 10vh;
}

.fridas-photo {
    width: 25%;
    height: auto;
    border-radius: 50%;
}