@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: "Playfair Display" , serif;
    font-size: 16px;
}

/* ----------------------------------------------Header */

.nav-menu {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color: #B5B8C8;
    position: fixed;
    width: 100%;
}

.nav-menu li {
    margin: 20px;
    font-size: 20px;
}

.nav-item {
    text-decoration: none;
    color: #000;
}

.nav-item:hover {
    color: #4c5d78;
}

/* ----------------------------------------------- Main */

main {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.bg-image {
    background-image: url(images/bg-image.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.headline {
    text-align: center;
}

.headline h1 {
    font-size: 50px;
    padding-top: 30vh;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* ----------------------------------------------- About me */

.headline-2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    padding: 20vh 0 5vh 0;
}

.about-me-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-info p {
    width: 50%;
    padding: 5vh;
}

.fridas-photo {
    width: 15%;
    height: auto;
    border-radius: 50%;
}

 .bar {
      background-color: #CDCDCA ;
      border-radius: 20px;
   }

   .container {
       width: 60%;
       margin: auto;
       margin-top: 5vh;
       margin-bottom: 5vh;
   }

   .container h3 {
       padding-top: 15px;
   }

   .html, .css, .javascript, .python {
      text-align: center;
      font-weight: bolder;
      padding-top: 3px;
      padding-bottom: 3px;
      color: white;
      border-radius: 20px;
   }

   .html {
      width: 90%;
      background-color: #787D96;
   }

   .css {
      width: 80%;
      background-color: #5C8C72;
   }
   .javascript {
      width: 10%;
      background-color:#ABAB67;
   }
   .python {
      width: 100%;
      background-color: #CDCDCA;
   }

   /* ---------------------------------- Work Projects */

   .big-work-box {
       display: flex;
       justify-content: space-around;
       width: 70%;
       margin: auto;
   }

   .work-box {
       width: 40%;
       height: 30vh;
       border: 2px solid;
       border-radius: 5px;
       margin: 20px;
   }

   .work-box h3 , p {
       margin: 5px;
       text-align: center;
   }

   .projects-headline {
       padding: 15px 0 10px 0;
   }

   .project-link , .ci-link {
       text-decoration: none;
       color: #000;
   }

   .project-link p {
       padding: 30px 10px 0 0;
       text-align: right;
   }

   .project-link:hover {
        color: #4c5d78;
   }

   .ci-link:hover {
        color: #4c5d78;
   }
   
/* ----------------------------------- Contact Form */

#name , #email , #subject  {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical 
}

input[type=email] {
    width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

.button {
  background-color:  #B5B8C8;
  padding: 12px 20px;
  border-radius: 4px;
  border: none;
  width: 100%;
  font-family: "Playfair Display" , serif;
  font-size: 18px;

}

/* -------------------------------- Footer */

footer {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B5B8C8;
}

footer h3 {
    margin: 0 25px 0 25px;
    font-size: 14px;
}

.download-cv {
    text-decoration: none;
    color:#000;
}

.download-cv:hover {
    color: #4c5d78;
}

.copyright {
    font-size: 12px;
    text-align: center;
}

.socialmedia-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 30px;
}

.socialmedia-item {
    text-decoration: none;
    color: #000;
    margin-right: 25px;
}

.socialmedia-item:hover {
    color: #4c5d78;
}

/* ------------------------------ Media Querys */

@media only screen and (max-width:767px) {

    body {
        font-size: 12px;
    }

    .nav-item , footer {
        font-size: 10px;
    }

    .headline h1 {
        font-size: 22px;
    }

    .headline h3 {
        font-size: 16px;
    }

    .headline-2 {
        font-size: 20px;
        padding: 10vh 0 5vh 0;
    }

    .about-me-info {
        display: block;
    }


    .about-me-info p {
        width: 80%;
        margin: auto;
    }

    .fridas-photo {
        width: 50%;
        margin: 25%;
    }

    .big-work-box {
        display: block;
    }

    .work-box {
        width: 80%;
    }
    
    footer h3 {
        width: 50%;
    }
    
    .hide-on-mobile {
        display: none;
    }

    .socialmedia-item {
        font-size: 16px;
        margin-right: 10px;
    }
}