@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family: "Playfair Display" , serif;
    font-size: 16px;
}

/* ----------------------------------------------Header */


.nav-menu {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color: #B5B8C8;
}

.nav-menu li {
    margin: 10px;
    font-size: 20px;
}

/* ----------------------------------------------- Main */

.bg-image {
    background-image: url(images/bg-image.jpg);
    height: 90vh;
      background-size: cover;
    background-repeat: no-repeat;
  
}

.headline {
    text-align: center;
}

.headline h1 {
    font-size: 50px;
    padding-top: 30vh;
    text-transform: uppercase;
}
